/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

hr {
  border: 2px solid #666;
}

body {
  font-family: 'Roboto', sans-serif;
}

.weather-panel-wrapper {
  margin: 0 auto;
  width: 40%;

  @media only screen and (max-width: 64em) {
    width: 60%;
  }

  @media only screen and (max-width: 48em) {
    width: 100%;
  }

  header {
    text-align: center;
  }

  .weather-board {
    text-align: center;

    .loading {
      display: none;
    }

    input {
      font-size: 13px;
      padding: 10px;
      display: inline-block;
      width: 230px;
      text-transform: uppercase;
      margin-bottom: 20px;
    }

    p {
      margin-bottom: 20px;
    }

    section {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .forecasts {
    width: 100%;

    .forecast {
      min-height: 100px;
      margin: 3px;
      overflow: hidden;
      position: relative;
      .hourly {
        display: flex;
        padding: 25px 0 20px 10px;

        .hourly-info {
          display: flex;
          flex-direction: column;
          width: 20%;
          align-items: center;
          justify-content: center;
          overflow-x: scroll;

          .hour-temperature {
            font-size: 16px;
            font-weight: bold;
          }

          .hour-of-the-day {
            font-weight: normal;
            font-size: 12px;
            color: #c5cae9;
          }

          div {
            padding: 5px 0;
          }
        }
      }
    }
  }
}
